.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: lightslategray;
    height: 100px;
}
img{
    margin: 0 10px;
}

.logoReact {
    height: 50px;
}
svg{
g{
    fill: pink;
}
}
