.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
    color: hotpink;
}
.logoReact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}



